<!doctype html>
<html class="no-js" lang="">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Vue.js</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <main>
        <h1>{{ nombre }}</h1>
        <ul>
            <li v-for='dia in laborales'>{{dia}}</li>
        </ul>
        <ul>
            <li v-for='tarea in tareas'>
                {{tarea.nombre}}
                <small>{{tarea.valor}}</small>
            </li>
        </ul>
        <ul>
            <li v-for='(tarea, index) in tareas'>
                {{index}} {{tarea.nombre}}
                <small>{{tarea.valor}}</small>
            </li>
        </ul>
        <ul>
            <li v-for='(value, key,index) in persona'>
                {{index}}-{{key}}: {{value}}
            </li>
        </ul>
        <pre>{{$data}}</pre>
    </main>
    <script src="https://unpkg.com/vue@2.4.4/dist/vue.js"> </script>
    <script src="js/main.js"></script>
</body>

</html>